// Add your custom CSS here.
.product-card__prices, .product__prices {
  .prices__value {
    display: none;
  }
}
.product__prices .prices__installments {
  font-size: var(--h1);
}

.product-card__prices .prices__installments {
  font-size: var(--font-size-lg);
}

.product-card__prices .prices__installments span,
.product__prices .prices__installments span {
  color: #3bda1b;
  font-weight: bold;
}
.breadcrumb-item a {
  color: #000;
}
.name-loja {
  display: flex;
}